{% extends 'base.html.twig' %}

{% block title %}Supprimer un compte (super-utilisateur){% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<h3> Supprimer un compte en tant que super-utilisateur </h3>
<div class="card">
    <table>
        <tr>
            <th> Identifiant </th>
            <th> Nom  </th>
            <th> Prénom </th>
            <th>  Adresse email </th>
            <th> Action </th>
        </tr>
        {% for utilisateur in utilisateurs %}
        <tr>
                <th> {{ utilisateur.getId() }} </th>
                <th> {{utilisateur.getNom() }} </th>
                <th> {{ utilisateur.getPrenom() }} </th>
                <th> {{utilisateur.getAdresseMail() }} </th>
                <th>
                    <button style="color:red" onclick="javascript:alert('Test Suppression d\'un l\'utilisateur')">
                        Supprimer compte 
                    </button>
                </th>
        </tr>
        {%endfor%}
        
    </table>
</div>




{% endblock %}
