{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}


<section class="hero is-fullheight">
    <div class="hero-head is-primary">


    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 m-auto">
            {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            <h1>Reset your password</h1>

            {{ form_start(requestForm) }}
            {{ form_row(requestForm.adresseMail) }}
            <div>
                <small>
                    Enter your email address and we will send you a
                    link to reset your password.
                </small>
            </div>

            <button class="button is-primary">Send password reset email</button>
            {{ form_end(requestForm) }}
        </div>
    </div>
</section>
{% endblock %}