{% extends 'base.html.twig' %}

{% block body %}



    <div class="hero is-fullheight">
    <div class="hero-body is-centered">
        <div class="column is-4 m-auto">
            <h1 class="title">Formulaire d'inscription</h1>
            {{ form_start(inscription_form) }}
                
            {{ form_end(inscription_form) }}
        </div>
    </div>
    </div>

{% endblock %}