{% extends 'base.html.twig' %}

{% block javascripts %}
<script type="text/javascript" src="suggestion.js"></script>
<script>
    var lieuDepart = "";
    var lieuArrive = "";
    var pointIntermediaireSave = "";
    var pointIntermediaireList = [];
    const pathSuggestion = '{{ path('rechercherVille') }}';

    $(document).ready(function(){

                /* Suggestion des villes */

                $('#creer_form_lieuDepart').focusout(function () {
                    $(".autocomplete-items").remove();
                });

                $('#creer_form_ptIntermediaire').focusout(function () {
                    $(".autocomplete-items").remove();
                });

                $('#creer_form_lieuArrive').focusout(function () {
                    $(".autocomplete-items").remove();
                });

                $('#creer_form_lieuDepart').focus(function () {
                    let texte = $(this).val();
                    if(texte != "")
                        suggestionVille(texte, "lieuDepart", pathSuggestion);
                });

                $('#creer_form_ptIntermediaire').focus(function () {
                    let texte = $(this).val();
                    if(texte != "")
                        suggestionVille(texte, "pointIntermediaire", pathSuggestion);
                });

                $('#creer_form_lieuArrive').focus(function () {
                    let texte = $(this).val();
                    if(texte != "")
                        suggestionVille(texte, "lieuArrive", pathSuggestion);
                });

                $('#creer_form_lieuDepart').keyup( function() {
                    let texte = $(this).val();
                    ($(this)[0]).setCustomValidity("Sélectionnez une ville dans la liste des propositions.");
                    if(texte != "")
                        suggestionVille(texte, "lieuDepart", pathSuggestion);
                    else 
                        $(".autocomplete-items").remove();
                    lieuDepart = "";
                    $("#prevDepart").text("Départ : ");
                   
                });

                $('#creer_form_ptIntermediaire').keyup( function(){
                    let texte = $(this).val();
                    if(texte != "")
                        suggestionVille(texte, "pointIntermediaire", pathSuggestion);
                    else
                    $(".autocomplete-items").remove();
                    pointIntermediaireSave = "";
                });


                $('#creer_form_lieuArrive').keyup( function(){
                    let texte = $(this).val();
                    ($(this)[0]).setCustomValidity("Sélectionnez une ville dans la liste des propositions.");
                    if(texte != "")
                        suggestionVille(texte, "lieuArrive", pathSuggestion);
                    else 
                        $(".autocomplete-items").remove();
                    lieuArrive = "";
                    $("#prevArrive").text("Arrivé : ");  
                });

                $(document).on('mousedown', '.autocomplete-items', function(){
                    switch($(this).parent().attr('id')){
                        case "autocomplete_lieuDepart":
                            $('#creer_form_lieuDepart').prop('value', $(this).text());
                            ($('#creer_form_lieuDepart')[0]).setCustomValidity("");
                            lieuDepart = $(this).attr('id');
                            $("#prevDepart").text("Départ : " + $(this).text());
                            break;
                        case "autocomplete_lieuArrive":
                            $('#creer_form_lieuArrive').prop('value', $(this).text());
                            ($('#creer_form_lieuArrive')[0]).setCustomValidity("");
                            lieuArrive = $(this).attr('id');
                            $("#prevArrive").text("Arrivé : " + $(this).text());
                            break;
                        case "autocomplete_pointIntermediaire":
                        $('#creer_form_ptIntermediaire').prop('value', $(this).text());
                            pointIntermediaireSave = $(this).attr('id');
                            break;
                        default: break;
                    }
                });
                

                /* Ajouter/Retirer point intermédiaire */

                $('#creer_form_addPtIntermediaire').click(function(){
                    if(pointIntermediaireSave != ""){
                        pointIntermediaireList.push(pointIntermediaireSave);
                        $('#prevListePtIntermediaires').append('<li id="prev_'+ pointIntermediaireSave +'">' + $('#creer_form_ptIntermediaire').val() + '</li>')
                        $('#creer_form_ptIntermediaire').prop('value', "");
                        $('#prevPointsIntermediaires').removeAttr('hidden')
                        pointIntermediaireSave = "";
                    }
                    else{
                        $('#creer_form_ptIntermediaire').focus();
                        ($('#creer_form_ptIntermediaire')[0]).setCustomValidity("Sélectionnez une ville dans la liste des propositions.");
                        texte = $('#creer_form_ptIntermediaire').val();
                        if(texte != "")
                            suggestionVille(texte, "pointIntermediaire", pathSuggestion);
                    }
                });

                $('#creer_form_rmPtIntermediaire').click(function(){
                    var index = pointIntermediaireList.indexOf(pointIntermediaireSave);
                    if(pointIntermediaireSave != "" && index != -1){
                        pointIntermediaireList.splice(index, 1);
                        console.log(pointIntermediaireSave);
                        $('#prev_' +  pointIntermediaireSave).remove();
                        if(pointIntermediaireList.length == 0) $('#prevPointsIntermediaires').attr('hidden', true);
                       
                        pointIntermediaireSave = "";
                        $('#creer_form_ptIntermediaire').prop('value', "");
                    } else if (index != -1) {
                        $('#creer_form_ptIntermediaire').focus();
                        ($('#creer_form_ptIntermediaire')[0]).setCustomValidity("Sélectionnez une ville dans la liste des propositions.");
                        texte = $('#creer_form_ptIntermediaire').val();
                        if(texte != "")
                            suggestionVille(texte, "pointIntermediaire", pathSuggestion);
                    }
                });

                $('form').submit(function(event){
                    event.preventDefault();
                    ($('#creer_form_ptIntermediaire')[0]).setCustomValidity("");

                    $.ajax({
                        url: '{{ path('preValidationForm') }}', 
                        data: JSON.stringify({lieuDepart: lieuDepart,
                                              pointIntermediaireList: pointIntermediaireList, 
                                              lieuArrive: lieuArrive }),
                        method: 'POST',
                        contentType: 'application/json',
                        headers: {'X-Requested-With': 'XMLHttpRequest'},
                        success: function (response) 
                        {    
                            console.log(response);
                            ($('form')[0]).submit();
                        },
                        400: function(response) {
                            console.log(response.responseText)
                        }    
                    });
                });

        
                /* Reset */

                $('#creer_form_annuler').click(function(){
                    var index = pointIntermediaireList.indexOf(pointIntermediaireSave);
                    lieuArrive = "";
                    lieuDepart = "";
                    pointIntermediaireSave = "";
                    pointIntermediaireList = [];
                    $('#prevPointsIntermediaires').attr('hidden', true);
                    $('#prevListePtIntermediaires').empty();
                    $("#prevDepart").text("Départ : ");
                    $("#prevArrive").text("Arrivé : ");
                });

                /* Chargement de la page */

                var currentDate = new Date(new Date().getTime() + 24 * 60 * 60 * 1000); // Demain même heure
                $("#creer_form_dateHeureDepart").attr('min', currentDate.toISOString().slice(0, currentDate.toISOString().lastIndexOf(":"))); 
                
                if($('#creer_form_lieuDepart').val() != "") ($('#creer_form_lieuDepart')[0]).setCustomValidity("Sélectionnez une ville dans la liste des propositions.");
                if($('#creer_form_lieuArrive').val() != "") ($('#creer_form_lieuArrive')[0]).setCustomValidity("Sélectionnez une ville dans la liste des propositions.");
                $("#prevDepart").text("Départ : ");
                $("#prevArrive").text("Arrivé : ");
            });
</script>
{% endblock %}

{% block body %}


<div class="hero is-fullheight">
    <div class="hero-body is-centered">
        <div class="column is-4 m-auto">
            <h1 class="title">Créer un trajet (publique)</h1>
            {{ form(creer_form) }}
        </div>
    </div>
</div>


<div class="right">
</br></br>
    <div id="autocomplete_lieuDepart">
    </div>
    <div id="autocomplete_lieuArrive">
    </div>
    <div id="autocomplete_pointIntermediaire">
    </div>

    <h2>Prévisualisation du trajet</h2>

    <p id="prevDepart"></p>
    <p hidden id="prevPointsIntermediaires">Etape(s) intermédiaire(s) : </p>
    <ol>
        <div id="prevListePtIntermediaires"></div>
    </ol>

    <p id="prevArrive"></p>

</div>

{% endblock %}

