{% extends 'base.html.twig' %}

{% block javascripts %}
<script>

    $(document).ready(function(){

                $('#creer_form_lieuDepart').keyup( function(){
                    let texte = $(this).val();
                    $("#prevDepart").text("Départ : " + texte);
                });



                $('#creer_form_ptIntermediaire').keyup( function(){
                    let texte = $(this).val();
                    
                });

                $(document).on('click', '#creer_form_addPtIntermediaire', function(){
                    
                });

                $(document).on('click', '#creer_form_rmPtIntermediaire', function(){
                   
                });



                $('#creer_form_lieuArrive').keyup( function(){
                    let texte = $(this).val();
                    $("#prevArrive").text("Arrivé : " + texte);
                });

               


               $("#prevDepart").text("Départ : " + $('#creer_form_lieuDepart').val());
               $("#prevArrive").text("Arrivé : " + $('#creer_form_lieuArrive').val());
            });
</script>
{% endblock %}

{% block body %}

<h2>Créer un trajet (publique)</h2>


{{ form(creer_form) }}

<div class="right">
</br></br>
    <h2>Prévisualisation du trajet</h2>

     <p id="prevDepart"></p>

    <ol>
        <div class="prevListePtIntermediaires">
        </div>
    </ol>

    <p id="prevArrive"></p>

</div>

{% endblock %}

