<div class="hero is-fullheight">
    <div class="hero-body is-centered">
        <div class="column is-4 m-auto">
            <h1 class="title">Formulaire de recherche</h1>
            {{ form_start(form, { 'attr': {'autocomplete': 'off'} }) }}

            {{ form_end(form) }}
        </div>
    </div>
</div>