<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WeDrive{% endblock %}</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

        {% block stylesheets %}
            
        {% endblock %}

        {% block javascripts %}
            <script >

            </script>
        {% endblock %}

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>