{% extends 'base.html.twig' %}

{% block body %}
		
		<section class="hero is-fullheight">
			<div class="hero-head is-primary">
				
				
			</div>

			<div class="hero-body">
				<div class="container has-text-centered">
					<p class="title">
						WeDRIVE
					</p>
					<p class="subtitle">
						Vroom vroom
					</p>

					<form class="is-inline-block" action="/recherche" method="post">
						<div class="field is-grouped has-background-primary box">
							<div class="control">
								<input class="input" type="text" placeholder="Depart" name="recherche[lieuDepart]">
							</div>

							<div class="control">
								<input class="input" type="text" placeholder="Arrivée" name="recherche[lieuArrivee]">
							</div>

							<div class="control">
								<input class="input" type="date" placeholder="Date" name="recherche[dateDepart]">
							</div>

							<div class="control">
								<button class="button" type="submit" name="recherche[rechercher]">Rechercher !</button>
							</div>

						</div>
					</form>
				</div>
			</div>
		</section>


{% endblock %}