{% extends 'base.html.twig' %}

{% block javascripts %}

<script type="text/javascript" src="suggestion.js"></script>
<script type="text/javascript" src="recherche.js"></script>

<script>
    $(document).ready(function () {
        const pathSuggestion = '{{ path('rechercherVille') }}';

        /* Suggestion des villes */

        $('#recherche_lieuDepart').focusout(function () {
            $(".autocomplete-items").remove();
        });

        $('#recherche_lieuArrivee').focusout(function () {
            $(".autocomplete-items").remove();
        });

        $('#recherche_lieuDepart').focus(function () {
            let texte = $(this).val();
            if (texte != "")
                suggestionVille(texte, "lieuDepart", pathSuggestion);
        });

        $('#recherche_lieuArrivee').focus(function () {
            let texte = $(this).val();
            if (texte != "")
                suggestionVille(texte, "lieuArrive", pathSuggestion);
        });

        $('#recherche_lieuDepart').keyup(function () {
            let texte = $(this).val();
            if (texte != "")
                suggestionVille(texte, "lieuDepart", pathSuggestion);
            else
                $(".autocomplete-items").remove();
        });


        $('#recherche_lieuArrivee').keyup(function () {
            let texte = $(this).val();
            if (texte != "")
                suggestionVille(texte, "lieuArrive", pathSuggestion);
            else
                $(".autocomplete-items").remove();
        });

        $(document).on('mousedown', '.autocomplete-items', function () {
            switch ($(this).parent().attr('id')) {
                case "autocomplete_lieuDepart":
                    $('#recherche_lieuDepart').prop('value', $(this).text());
                    ($('#recherche_lieuDepart')[0]).setCustomValidity("");
                    break;
                case "autocomplete_lieuArrive":
                    $('#recherche_lieuArrivee').prop('value', $(this).text());
                    ($('#recherche_lieuArrivee')[0]).setCustomValidity("");
                    break;
                default: break;
            }
        });
    });
</script>

{% endblock %}


{% block body %}
		
    <section class="hero is-center">
        <div class="hero-head is-primary">
            
            
        </div>

        <div class="hero-body">
            <div class="is-4 m-auto has-text-centered">
                <p class="title">
                    WeDRIVE
                </p>
                <p class="subtitle">
                    Vroom vroom
                </p>
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}

                <form class="is-inline-block" action="/recherche" method="post" autocomplete="off">
                    <div class="field is-grouped has-background-primary box">
                        <div class="control">
                            <input id="recherche_lieuDepart" class="input" type="text" placeholder="Départ" name="recherche[lieuDepart]">
                        </div>

                        <div class="control">
                            <input id="recherche_lieuArrivee" class="input" type="text" placeholder="Arrivée" name="recherche[lieuArrivee]">
                        </div>

                        <div class="control">
                            <input class="input" type="date" placeholder="Date" name="recherche[dateDepart]">
                        </div>

                        <div class="control">
                            <button class="button" type="submit" name="recherche[rechercher]">Rechercher !</button>
                        </div>

                    </div>
                </form>

                <div class="p-4">
                <div id="autocomplete_lieuDepart">
                </div>

                <div id="autocomplete_lieuArrive">
                </div>
                {% endif %}
        </div>
            </div>
        </div>

        <div class="columns mx-3">
            <div class="column is-8 m-auto">
                <div class="box has-background-primary">
                 <p class="content is-medium has-text-light">
                Bienvenue sur notre plateforme de covoiturage ! Nous avons créé cet espace pour vous permettre de trouver facilement et rapidement des compagnons de voyage pour vos trajets réguliers ou occasionnels.
                Que vous soyez conducteur ou passager, vous pourrez profiter de notre service pour économiser de l'argent, réduire votre empreinte carbone et rencontrer de nouvelles personnes.
                </p>
                </div>
                <div class="columns is-mobile">
                    <div class="column">
                        <div class="box">
                            <div class="hero is-center">
                            <p class="content is-medium">
                            Notre plateforme est conviviale, sécurisée et facile à utiliser. Il vous suffit de créer un compte, de publier ou de rechercher une annonce, de contacter les utilisateurs qui vous intéressent et de voyager ensemble en toute tranquillité.
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="box">
                        <p class="content is-medium">
                            Nous espérons que vous trouverez ici tout ce dont vous avez besoin pour rendre vos déplacements plus agréables et plus écologiques.
                        </p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="box">
                        <p class="content is-medium">
                            N'hésitez pas à nous contacter si vous avez des questions ou des suggestions. Bon voyage avec notre communauté de covoiturage !
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    


{% endblock %}