{% extends 'base.html.twig' %}

{% block javascripts %}

<script type="text/javascript" src="suggestion.js"></script>
<script type="text/javascript" src="recherche.js"></script>

<script>
    $(document).ready(function () {
        const pathSuggestion = '{{ path('rechercherVille') }}';

        /* Suggestion des villes */

        $('#recherche_lieuDepart').focusout(function () {
            $(".autocomplete-items").remove();
        });

        $('#recherche_lieuArrivee').focusout(function () {
            $(".autocomplete-items").remove();
        });

        $('#recherche_lieuDepart').focus(function () {
            let texte = $(this).val();
            if (texte != "")
                suggestionVille(texte, "lieuDepart", pathSuggestion);
        });

        $('#recherche_lieuArrivee').focus(function () {
            let texte = $(this).val();
            if (texte != "")
                suggestionVille(texte, "lieuArrive", pathSuggestion);
        });

        $('#recherche_lieuDepart').keyup(function () {
            let texte = $(this).val();
            if (texte != "")
                suggestionVille(texte, "lieuDepart", pathSuggestion);
            else
                $(".autocomplete-items").remove();
        });


        $('#recherche_lieuArrivee').keyup(function () {
            let texte = $(this).val();
            if (texte != "")
                suggestionVille(texte, "lieuArrive", pathSuggestion);
            else
                $(".autocomplete-items").remove();
        });

        $(document).on('mousedown', '.autocomplete-items', function () {
            switch ($(this).parent().attr('id')) {
                case "autocomplete_lieuDepart":
                    $('#recherche_lieuDepart').prop('value', $(this).text());
                    ($('#recherche_lieuDepart')[0]).setCustomValidity("");
                    break;
                case "autocomplete_lieuArrive":
                    $('#recherche_lieuArrivee').prop('value', $(this).text());
                    ($('#recherche_lieuArrivee')[0]).setCustomValidity("");
                    break;
                default: break;
            }
        });
    });
</script>

{% endblock %}


{% block body %}
		
		<section class="hero is-fullheight">
			<div class="hero-head is-primary">
				
				
			</div>

			<div class="hero-body">
				<div class="container has-text-centered">
					<p class="title">
						WeDRIVE
					</p>
					<p class="subtitle">
						Vroom vroom
					</p>
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}

					<form class="is-inline-block" action="/recherche" method="post" autocomplete="off">
						<div class="field is-grouped has-background-primary box">
							<div class="control">
								<input id="recherche_lieuDepart" class="input" type="text" placeholder="Départ" name="recherche[lieuDepart]">
							</div>

							<div class="control">
								<input id="recherche_lieuArrivee" class="input" type="text" placeholder="Arrivée" name="recherche[lieuArrivee]">
							</div>

							<div class="control">
								<input class="input" type="date" placeholder="Date" name="recherche[dateDepart]">
							</div>

							<div class="control">
								<button class="button" type="submit" name="recherche[rechercher]">Rechercher !</button>
							</div>

						</div>
					</form>

					<div class="p-4">
					<div id="autocomplete_lieuDepart">
            		</div>

					<div id="autocomplete_lieuArrive">
					</div>
                    {% endif %}
            </div>
				</div>
			</div>
		</section>


{% endblock %}