{% extends 'base.html.twig' %}

{% block body %}



<section class="hero is-fullheight">
    <div class="hero-head is-primary">


    </div>

    <div class="hero-body">
        <div class="container has-text-centered">

            <h1>Notifications</h1>
            {% if notifs|length > 0 %}
            {% for n in notifs %}
            {{ include('_notif_element_liste.html.twig', {notif: n}) }}
            {% endfor %}
            {% endif %}

        </div>
    </div>
</section>

{% endblock %}