{% extends 'base.html.twig' %}

{% block javascripts %}

    <script type="text/javascript" src="recherche.js"></script>

{% endblock %}

{% block body %}
    {{ include('_champs_recherche.html.twig', {form: form}) }}

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    {% if res|length > 0 %}
        {% for r in res %}
            {{ include('_trajet_element_liste.html.twig', {trajet: r}) }}
        {% endfor %}
    {% endif %}
{% endblock %}

